@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Madimi+One");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web");

@import "@splidejs/react-splide/css";

:root {
  --color-primary: #1f2e44;
  --color-secondary: #f5f7f9;
  --color-tertiary: #d1e3f6;
}

#root {
  min-height: 100vh;
  font-family: "Titillium Web", sans-serif;
  background: var(--color-secondary);
  color: var(--color-primary);
}

.content {
  width: 100%;
  min-height: 100vh;
}

.content.overlay {
  position: fixed;
  overflow: hidden;
  opacity: 0.1;
}

h1,
.decorativeText {
  font-family: "Madimi One", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

p {
  @apply text-base;
}

a {
  position: relative;
}

/* a:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 44px;
  min-height: 44px;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
} */

svg {
  @apply w-6 h-6;
}

.box-shadow-custom {
  box-shadow: rgba(1, 71, 112, 0.05) 4px 4px 0px;
}

.splide__track {
  @media screen and (min-width: 1024px) {
    max-width: calc(100% - 8rem);
    margin: 0 auto;
  }
}

.splide__pagination {
  @apply relative bottom-0 mt-2;
}

.splide__arrows {
  @apply hidden lg:block;
}

.splide__pagination__page {
  @apply bg-[--color-tertiary];
}
.splide__pagination__page.is-active {
  @apply bg-[--color-primary];
}
